html {
  scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    max-width: 700px;
    line-height: 1.6;
}

header {
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
}

section {
    margin-bottom: 2rem;
}

h1, h2 {
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
}

footer {
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

.project {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease;
}

.project:hover {
  transform: translateY(-3px);
}

.hot-link {
    -webkit-text-fill-color: black;
    text-decoration: none;
}

.hot-link:hover {
    text-decoration: underline;
}